
.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

body {  
background-color: black; 
color: white ; 
font: italic 1.2em "Fira Sans", serif;
} 

h1, h2 { 
	color: gold
}

